.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(200, 120, 220, 0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(200, 120, 220, 0.3) 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: rgba(110, 7, 121, 0.66);
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #eece07;
}
.time{
    display: flex;
    justify-content: flex-end;
    color: blueviolet;
}