.input:focus{
    outline: none;
    border: aquamarine solid 4px;
}
.superInput {
    margin: 10px;
    background: blueviolet;
    color: chocolate;
}

.errorInput {
    margin: 10px;
    border: 3px solid lime;
    background: red;
    color: #0909e5;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}