.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: darkslateblue;
}

.checkbox:checked {
    appearance: none;
background-image: url("Vector-Green-Tick-PNG-Free-Download.png");
}
.checkbox:focus{
    outline: burlywood solid 2px;
}
.spanClassName {

}