.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: darkslateblue;
}

.checkbox:checked {
    appearance: none;
    
}

.spanClassName {

}