.link {
    text-decoration: none;
    color: darkslateblue;
    margin: 10px
}

.link:hover {
    color: magenta;
}

.active {
    color: burlywood;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: #f9cd0b;
}
.header{
    display: flex;
    width: 200px;
    transition-duration: 500ms;
    transform: translate(-160px);
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}