.greeting{
    display: flex;
    align-items: flex-start;

}
.error{
    color: red;
    height: 21px;
    margin-left:10px ;
}
.input{
    margin:10px;
    background: #f9cd0b;
    color: #7f7f7f;
}
.input:focus{
    outline: none;
    border: blue solid 1px;
}
.errorInput{
    margin: 10px;
    background: #32ff24;
    color: blueviolet;
    border: 2px solid red;
    outline: none;
}
.button{
    margin: 10px;
    width:40px;
    background: #C21F39;
    color: #ffa754;
    outline: none;
}
.button:focus{
    outline: aquamarine solid 1px;

}
.button:active{
    background: #666600;
}
.button:disabled{
    color: chocolate;
}
.count{
    margin:10px
}